.container {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}

body {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

header.site-header {
  grid-area: header;
  padding: var(--espaco-sm) 0;
  border-bottom: 1px solid var(--cor-neutra-media);
  background-color: var(--cor-fundo);
}

main {
  grid-area: main;
  padding: var(--espaco-xl) 0;
}

footer.site-footer {
  grid-area: footer;
  background-color: var(--cor-neutra-clara);
  padding: var(--espaco-lg) 0;
}